comfyui+governance.json
{
  "name": "comfyui+governance DIMBA",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 9
            }
          ]
        }
      },
      "name": "Daily Schedule",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [
        -4064,
        480
      ],
      "id": "103bc981-1445-43a7-8c10-da93ebddcf10",
      "alwaysOutputData": false
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT\n  id,\n  content,\n  platform,\n  approved_at\nFROM approved_posts\nORDER BY approved_at DESC\nLIMIT 10;\n",
        "options": {}
      },
      "name": "Get Past Successful Posts",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [
        -3120,
        496
      ],
      "id": "29d49c18-07df-4a45-ada2-43eb8a67dcd6"
    },
    {
      "parameters": {
        "jsCode": "// ===== NEW: Get enriched context from agentic workflow =====\nconst enrichedContext = $input.first().json.enriched_context || {};\nconst pastPosts = $('Get Past Successful Posts').all() || [];\n\nlet learningContext = \"\";\n\n// Add system instructions from agentic workflow\nif (enrichedContext.system_instructions) {\n  learningContext += \"\\n=== SYSTEM GUIDELINES ===\\n\";\n  learningContext += enrichedContext.system_instructions + \"\\n\\n\";\n}\n\n// Add conversation context\nif (enrichedContext.conversation_summary) {\n  learningContext += \"\\n=== RECENT CONTEXT ===\\n\";\n  learningContext += enrichedContext.conversation_summary + \"\\n\\n\";\n}\n\n// Add RAG knowledge\nif (enrichedContext.relevant_knowledge) {\n  learningContext += \"\\n=== BRAND & MEDICAL KNOWLEDGE ===\\n\";\n  learningContext += enrichedContext.relevant_knowledge + \"\\n\\n\";\n}\n\n// Add execution plan\nif (enrichedContext.execution_plan) {\n  learningContext += \"\\n=== EXECUTION PLAN ===\\n\";\n  learningContext += `Complexity: ${enrichedContext.execution_plan.complexity || 'N/A'}\\n`;\n  learningContext += `Steps: ${enrichedContext.execution_plan.steps ? enrichedContext.execution_plan.steps.join(' → ') : 'N/A'}\\n\\n`;\n}\n\n// ===== YOUR EXISTING CODE BELOW (keep as is) =====\nif (pastPosts.length > 0) {\n  learningContext += \"\\n=== LEARNING FROM PAST SUCCESSFUL POSTS ===\\n\\n\";\n  learningContext += \"Below are previously approved posts. Learn from their tone, structure, and clarity:\\n\\n\";\n\n  pastPosts.forEach((post, index) => {\n    learningContext += `${index + 1}. Platform: ${post.json.platform}\\n`;\n    learningContext += `   Content: ${post.json.content}\\n`;\n    learningContext += `   Approved At: ${post.json.approved_at}\\n\\n`;\n  });\n} else {\n  learningContext += \"\\n(No prior approved posts available yet.)\\n\";\n}\n\n// Return as a single item for the AI node\nreturn [\n  {\n    json: {\n      learning_context: learningContext,\n      // Pass through enriched context\n      enriched_context: enrichedContext\n    }\n  }\n];\n\n// Get all approved posts from previous node\nconst history = $input.all();\n\nlet learningContext = \"\";\n\nif (history.length > 0) {\n  learningContext += \"\\n=== LEARNING FROM PAST SUCCESSFUL POSTS ===\\n\\n\";\n  learningContext += \"Below are previously approved posts. Learn from their tone, structure, and clarity:\\n\\n\";\n\n  history.forEach((post, index) => {\n    learningContext += `${index + 1}. Platform: ${post.json.platform}\\n`;\n    learningContext += `   Content: ${post.json.content}\\n`;\n    learningContext += `   Approved At: ${post.json.approved_at}\\n\\n`;\n  });\n} else {\n  learningContext += \"\\n(No prior approved posts available yet.)\\n\";\n}\n\n// Return as a single item for the AI node\nreturn [\n  {\n    json: {\n      learning_context: learningContext\n    }\n  }\n];\n"
      },
      "name": "Build Learning Context",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -2784,
        496
      ],
      "id": "18893951-25b6-46ea-b622-afa44fc18f0f"
    },
    {
      "parameters": {
        "jsCode": "// Get Ollama's response\nconst ollamaResponse = $input.first().json;\n\n// Ollama returns the full response in the 'data' field as a string\n// It contains multiple JSON objects, we need the last complete one\nconst responseData = ollamaResponse.data;\n\nconsole.log('Raw Ollama data:', responseData);\n\n// Split by newlines and find the one with \"done\":true\nconst lines = responseData.split('\\n').filter(line => line.trim());\nlet fullResponse = '';\n\n// Collect all the \"response\" fields to build the complete text\nfor (const line of lines) {\n  try {\n    const parsed = JSON.parse(line);\n    if (parsed.response) {\n      fullResponse += parsed.response;\n    }\n  } catch (e) {\n    // Skip invalid JSON lines\n  }\n}\n\nconsole.log('Full response text:', fullResponse);\n\n// Now parse the JSON from the complete response\nlet contentData;\ntry {\n  // The response should be a JSON object\n  contentData = JSON.parse(fullResponse);\n} catch (error) {\n  console.error('Parsing error:', error);\n  console.log('Response text:', fullResponse);\n  \n  // Fallback content\n  contentData = {\n    caption: \"🩺 Managing diabetes starts with understanding your body. Monitor blood sugar regularly, eat balanced meals, and stay active. Small steps lead to big health improvements! 💪\\n\\n#DiabetesAwareness #HealthyLiving #BloodSugar #DiabetesCare #Wellness #HealthTips\",\n    image_prompt: \"Professional medical illustration of diabetes management - person checking glucose monitor, surrounded by healthy foods and exercise equipment. Modern, clean design with teal colors. Empowering mood.\",\n    content_type: \"Blood Sugar Management\",\n    key_message: \"Consistent monitoring and healthy habits lead to better diabetes control\"\n  };\n}\n\n// Return formatted data\nreturn {\n  json: {\n    content_id: `content_${Date.now()}`,\n    caption: contentData.caption || \"Default caption\",\n    image_prompt: contentData.image_prompt || \"Default prompt\",\n    content_type: contentData.content_type || \"General\",\n    key_message: contentData.key_message || \"Stay healthy\",\n    timestamp: new Date().toISOString(),\n    status: \"pending_review\",\n    generation_source: \"automatic_ollama\"\n  }\n};"
      },
      "name": "Parse Generated Content",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -2192,
        496
      ],
      "id": "e2114fa9-6e9d-4990-bbc5-84b42cd921d2"
    },
    {
      "parameters": {
        "jsCode": "// =====================================================\n// INPUTS\n// =====================================================\nconst contentData = $('Parse Generated Content').first().json;\n\n// Get the ComfyUI prompt that was sent\nconst comfyPrompt = $('Build ComfyUI JSON').first().json;\n\n// DEBUG: Log what we're sending\nconsole.log('=== COMFYUI PROMPT ===');\nconsole.log(JSON.stringify(comfyPrompt, null, 2));\n\n// Generate a random seed to avoid cache\nif (comfyPrompt.prompt && comfyPrompt.prompt[\"3\"] && comfyPrompt.prompt[\"3\"].inputs) {\n  comfyPrompt.prompt[\"3\"].inputs.seed = Math.floor(Math.random() * 1000000000);\n  console.log('Generated seed:', comfyPrompt.prompt[\"3\"].inputs.seed);\n}\n\n// =====================================================\n// QUEUE THE PROMPT TO COMFYUI AND GET prompt_id\n// =====================================================\nconsole.log('Queueing prompt to ComfyUI...');\n\nlet queueResponse;\ntry {\n  queueResponse = await this.helpers.httpRequest({\n    method: 'POST',\n    url: 'http://host.docker.internal:8188/prompt',\n    headers: {\n      'Content-Type': 'application/json',\n    },\n    body: JSON.stringify(comfyPrompt),\n    json: true,\n  });\n} catch (error) {\n  console.error('Failed to queue prompt:', error.message);\n  throw new Error(`Failed to queue prompt to ComfyUI: ${error.message}`);\n}\n\nconsole.log('Queue response:', JSON.stringify(queueResponse, null, 2));\n\nconst promptId = queueResponse.prompt_id;\n\nif (!promptId) {\n  throw new Error('Missing prompt_id from ComfyUI response. Response: ' + JSON.stringify(queueResponse));\n}\n\nconsole.log(`✓ Successfully queued prompt ID: ${promptId}`);\n\n// =====================================================\n// POLL COMFYUI HISTORY (UP TO ~3 minutes)\n// =====================================================\nlet history;\nconst maxAttempts = 90; // 3 minutes\nlet attemptCount = 0;\n\nconsole.log('Starting to poll ComfyUI history...');\n\nfor (let i = 0; i < maxAttempts; i++) {\n  attemptCount++;\n  \n  try {\n    const res = await this.helpers.httpRequest({\n      method: 'GET',\n      url: `http://host.docker.internal:8188/history/${promptId}`,\n      json: true,\n    });\n    \n    history = res[promptId];\n    \n    if (i % 5 === 0) { // Log every 10 seconds\n      console.log(`Poll attempt ${i + 1}/${maxAttempts}:`, history ? 'Got history' : 'No history yet');\n    }\n    \n    // Check if we have outputs\n    if (history && history.outputs && Object.keys(history.outputs).length > 0) {\n      console.log('✓ Found outputs in history!');\n      console.log('Outputs:', JSON.stringify(history.outputs, null, 2));\n      break;\n    }\n    \n    // Check if execution completed (even if cached)\n    if (history && history.status && history.status.completed) {\n      console.log('✓ Execution marked as completed');\n      break;\n    }\n    \n    // Check for errors\n    if (history && history.status && history.status.status_str) {\n      console.log('Status:', history.status.status_str);\n    }\n    \n    // wait 2 seconds\n    await new Promise(r => setTimeout(r, 2000));\n    \n  } catch (error) {\n    console.error(`Polling attempt ${i + 1} failed:`, error.message);\n  }\n}\n\nif (!history) {\n  throw new Error(`ComfyUI never returned history after ${attemptCount} attempts (${attemptCount * 2} seconds) for prompt_id: ${promptId}. \n\nPlease check:\n1. ComfyUI console at http://host.docker.internal:8188\n2. Look for error messages in ComfyUI terminal\n3. Verify the model file exists: v1-5-pruned-emaonly.safetensors`);\n}\n\nconsole.log('Final history object:', JSON.stringify(history, null, 2));\n\n// =====================================================\n// FIND IMAGE OUTPUT\n// =====================================================\nlet imageEntry = null;\n\nconsole.log('Looking for image in outputs...');\n\n// First, try to get from outputs (non-cached execution)\nif (history.outputs && Object.keys(history.outputs).length > 0) {\n  console.log('Checking outputs nodes:', Object.keys(history.outputs));\n  \n  for (const nodeId of Object.keys(history.outputs)) {\n    const output = history.outputs[nodeId];\n    console.log(`Node ${nodeId}:`, output);\n    \n    if (output.images && output.images.length > 0) {\n      imageEntry = output.images[0];\n      console.log('✓ Found image in node', nodeId, ':', imageEntry.filename);\n      break;\n    }\n  }\n}\n\n// If not found in outputs, try alternate method\nif (!imageEntry) {\n  console.log('No image in outputs, trying to construct filename...');\n  \n  // Try to find SaveImage node in prompt\n  let filenamePrefix = \"ComfyUI\";\n  \n  if (history.prompt) {\n    console.log('Prompt nodes:', Object.keys(history.prompt[2] || {}));\n    \n    // Look for SaveImage node (usually node 9)\n    for (const nodeId of Object.keys(history.prompt[2] || {})) {\n      const node = history.prompt[2][nodeId];\n      if (node.class_type === \"SaveImage\" && node.inputs && node.inputs.filename_prefix) {\n        filenamePrefix = node.inputs.filename_prefix;\n        console.log('Found filename_prefix:', filenamePrefix);\n        break;\n      }\n    }\n  }\n  \n  const possibleFilenames = [\n    `${filenamePrefix}_00001_.png`,\n    `${filenamePrefix}_00000_.png`,\n    `${filenamePrefix}.png`,\n    `ComfyUI_00001_.png`,\n  ];\n  \n  console.log('Trying possible filenames:', possibleFilenames);\n  \n  for (const filename of possibleFilenames) {\n    try {\n      const testUrl = `http://host.docker.internal:8188/view?filename=${filename}&type=output&subfolder=`;\n      console.log('Testing URL:', testUrl);\n      \n      await this.helpers.httpRequest({\n        method: 'GET',\n        url: testUrl,\n        encoding: null,\n      });\n      \n      imageEntry = {\n        filename: filename,\n        subfolder: \"\",\n        type: \"output\"\n      };\n      console.log('✓ Found image file:', filename);\n      break;\n    } catch (e) {\n      console.log(`× File ${filename} not found`);\n      continue;\n    }\n  }\n}\n\nif (!imageEntry) {\n  throw new Error('No image found after exhaustive search. Full history: ' + JSON.stringify(history, null, 2));\n}\n\n// =====================================================\n// BUILD IMAGE URL\n// =====================================================\nconst imageUrl =\n  `http://host.docker.internal:8188/view` +\n  `?filename=${imageEntry.filename}` +\n  `&subfolder=${imageEntry.subfolder || ''}` +\n  `&type=${imageEntry.type || 'output'}`;\n\nconsole.log('Final image URL:', imageUrl);\n\n// =====================================================\n// DOWNLOAD IMAGE\n// =====================================================\nconsole.log('Downloading image...');\n\nconst imageResponse = await this.helpers.httpRequest({\n  method: 'GET',\n  url: imageUrl,\n  encoding: 'arraybuffer',\n  returnFullResponse: true,\n});\n\n// Get the actual buffer data\nconst imageBuffer = Buffer.from(imageResponse.body);\n\nconsole.log('✓ Image downloaded, size:', imageBuffer.length, 'bytes');\n\n// =====================================================\n// RETURN DATA WITH PROPER BINARY FORMAT\n// =====================================================\nreturn [\n  {\n    json: {\n      content_id: contentData.content_id,\n      caption: contentData.caption,\n      image_prompt: contentData.image_prompt,\n      content_type: contentData.content_type,\n      key_message: contentData.key_message,\n      timestamp: contentData.timestamp,\n      status: 'ready_for_review',\n      media_type: 'image',\n      generation_source: contentData.generation_source,\n      prompt_id: promptId,\n    },\n    binary: {\n      image: {\n        data: imageBuffer.toString('base64'),\n        mimeType: 'image/png',\n        fileName: 'diabetes_awareness.png',\n      }\n    }\n  }\n];"
      },
      "name": "Prepare Preview Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1248,
        496
      ],
      "id": "639ce224-f04f-4c07-9b1f-74d406985a69"
    },
    {
      "parameters": {
        "schema": {
          "__rl": true,
          "value": "public",
          "mode": "list"
        },
        "table": {
          "__rl": true,
          "value": "pending_posts",
          "mode": "list"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "status": "pending",
            "created_at": "={{ $now.toISO() }}",
            "content": "={{ JSON.stringify($json) }}",
            "platform": "telegram"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "content",
              "displayName": "content",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "platform",
              "displayName": "platform",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "status",
              "displayName": "status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "created_at",
              "displayName": "created_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "name": "Store Pending Content in DB",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [
        -832,
        496
      ],
      "id": "472879e5-98d8-4d78-b667-9693a3c31faa"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "approved",
              "leftValue": "={{ $json.reaction }}",
              "rightValue": "white_check_mark",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            },
            {
              "id": "956addad-0b44-46f6-86f4-4b1586c0627f",
              "leftValue": "",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "name": "Check if Approved",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        -448,
        496
      ],
      "id": "a5ea77c0-28de-4a96-af43-9bf9bd360eca"
    },
    {
      "parameters": {
        "jsCode": "const learningContext = $input.first().json.learning_context || \"\";\n\nconst prompt = `You are creating diabetes awareness content for DIMBA (Diabetes Management & Awareness organization).\n\n${learningContext}\n\nCreate NEW engaging diabetes awareness content for Instagram/Facebook.\n\nProvide:\n1) An engaging caption (100-150 words) with 6-10 relevant hashtags\n2) A detailed image description for image generation\n3) Content type category\n\nFocus areas: Blood sugar management, meal planning, exercise, myth-busting, warning signs, mental health, success stories, technology, carb counting, complications.\n\nGuidelines:\n- Encouraging, positive, empowering tone\n- Scientifically accurate\n- Action-oriented\n- Instagram-optimized\n- Don't repeat recent topics\n\nReturn ONLY valid JSON in this exact format:\n{\n  \"caption\": \"your caption with hashtags\",\n  \"image_prompt\": \"detailed image generation prompt\",\n  \"content_type\": \"category name\",\n  \"key_message\": \"main takeaway\"\n}\n\nIMPORTANT: Return ONLY the JSON object, no other text before or after.`;\n\nreturn {\n  json: {\n    prompt: prompt,\n    model: \"qwen2.5\"\n  }\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -2576,
        496
      ],
      "id": "23236235-3a4b-40ab-8bd8-59b8343efe8d",
      "name": "Prepare Ollama Prompt"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "YOUR_URL",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "={{ JSON.stringify($json) }}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "file"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -1600,
        496
      ],
      "id": "479cc967-54e9-4445-bd40-95dcce4db838",
      "name": "ComfyUI Queue Prompt"
    },
    {
      "parameters": {
        "jsCode": "const imagePrompt = $input.first().json.image_prompt;\n\nconst comfyJSON = {\n  \"prompt\": {\n    \"3\": {\n      \"inputs\": {\n        \"seed\": 12345,\n        \"steps\": 20,\n        \"cfg\": 8,\n        \"sampler_name\": \"euler\",\n        \"scheduler\": \"normal\",\n        \"denoise\": 1,\n        \"model\": [\"4\", 0],\n        \"positive\": [\"6\", 0],\n        \"negative\": [\"7\", 0],\n        \"latent_image\": [\"5\", 0]\n      },\n      \"class_type\": \"KSampler\"\n    },\n    \"4\": {\n      \"inputs\": {\n        \"ckpt_name\": \"v1-5-pruned-emaonly.safetensors\"\n      },\n      \"class_type\": \"CheckpointLoaderSimple\"\n    },\n    \"5\": {\n      \"inputs\": {\n        \"width\": 512,\n        \"height\": 512,\n        \"batch_size\": 1\n      },\n      \"class_type\": \"EmptyLatentImage\"\n    },\n    \"6\": {\n      \"inputs\": {\n        \"text\": imagePrompt + \", professional medical illustration, diabetes awareness, high quality\",\n        \"clip\": [\"4\", 1]\n      },\n      \"class_type\": \"CLIPTextEncode\"\n    },\n    \"7\": {\n      \"inputs\": {\n        \"text\": \"text, watermark, low quality, blurry\",\n        \"clip\": [\"4\", 1]\n      },\n      \"class_type\": \"CLIPTextEncode\"\n    },\n    \"8\": {\n      \"inputs\": {\n        \"samples\": [\"3\", 0],\n        \"vae\": [\"4\", 2]\n      },\n      \"class_type\": \"VAEDecode\"\n    },\n    \"9\": {\n      \"inputs\": {\n        \"filename_prefix\": \"dimba_diabetes\",\n        \"images\": [\"8\", 0]\n      },\n      \"class_type\": \"SaveImage\"\n    }\n  }\n};\n\n// Return as object, NOT stringified\nreturn {\n  json: comfyJSON\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1824,
        496
      ],
      "id": "316e6b79-4e81-411e-b6b5-55cc89fccd78",
      "name": "Build ComfyUI JSON"
    },
    {
      "parameters": {
        "amount": 30
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        -1424,
        496
      ],
      "id": "69807c10-b220-486f-b0de-6a7739de4b5d",
      "name": "Wait",
      "webhookId": "dc7549f8-13e6-436b-b2e5-5f0882bf796f"
    },
    {
      "parameters": {
        "operation": "sendPhoto",
        "chatId": "YOUR_ID",
        "binaryData": true,
        "binaryPropertyName": "image",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -1056,
        496
      ],
      "id": "15f84cf6-f78e-4f1d-bdf8-371581466a44",
      "name": "Send a photo message",
      "webhookId": "fe44bcd2-7982-4ff2-bfe7-b32c2f2befc3"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "5a45520a-48da-445a-967e-774aa53f8d24",
              "leftValue": "",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -3520,
        480
      ],
      "id": "9ed136df-e42b-494c-a801-881e20b8dba5",
      "name": "If"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT\n  id,\n  content,\n  platform,\n  approved_at\nFROM approved_posts\nORDER BY approved_at DESC\nLIMIT 10;\n",
        "options": {}
      },
      "name": "user preferences",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [
        -3312,
        160
      ],
      "id": "7a4d2468-5d5e-4151-9afb-2eedfa8a2d15"
    },
    {
      "parameters": {
        "chatId": "YOUR_ID",
        "text": "Good morning! Please share your content preferences for today (reply within 5 minutes)",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -3696,
        480
      ],
      "id": "fb6f42d8-5685-448c-9a35-37c04e2cbf58",
      "name": "user pref",
      "webhookId": "c9bb4d58-d458-449d-8c35-614d24e221a8"
    },
    {
      "parameters": {
        "chatId": "YOUR_ID",
        "text": "what do you think about this ?",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -640,
        496
      ],
      "id": "a8899f22-78fb-4278-ae3a-ecdbe64c5113",
      "name": "how's the content ?",
      "webhookId": "c9bb4d58-d458-449d-8c35-614d24e221a8"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "YOUR_URL",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "model",
              "value": "qwen2.5"
            },
            {
              "name": "prompt",
              "value": "=={{ $json.prompt }}"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "responseFormat": "text"
            }
          },
          "timeout": 30000
        }
      },
      "id": "baab3f66-6b16-4f94-a66e-1fd18017c0cc",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        -2384,
        496
      ],
      "name": "ollama",
      "typeVersion": 4.3
    },
    {
      "parameters": {
        "jsCode": "const items = [];\n\nfor (const item of $input.all()) {\n  // TEMPORARY: Use a file we KNOW exists\n  const imagePathWindows = 'C:\\\\Users\\\\Archana\\\\ComfyUI\\\\output\\\\dimba_diabetes_00001_.png';\n  const videoPathWindows = 'C:\\\\Users\\\\Archana\\\\ComfyUI\\\\output\\\\output_video.mp4';\n  \n  items.push({\n    json: {\n      ...item.json,\n      image_path_windows: imagePathWindows,\n      video_output_path_windows: videoPathWindows,\n      caption: item.json.caption || 'Generated Content',\n      duration: 15\n    }\n  });\n}\n\nreturn items;"
      },
      "name": "Prepare Video Data",
      "type": "n8n-nodes-base.code",
      "position": [
        -1648,
        736
      ],
      "typeVersion": 2,
      "id": "c11f09f3-329d-44e8-9000-5348840fba53"
    },
    {
      "parameters": {
        "operation": "sendVideo",
        "chatId": "YOUR_ID",
        "binaryData": true,
        "binaryPropertyName": "video",
        "additionalFields": {
          "caption": "={{ $json.caption }}"
        }
      },
      "name": "Send Video to Telegram",
      "type": "n8n-nodes-base.telegram",
      "position": [
        -960,
        736
      ],
      "typeVersion": 1,
      "id": "273f5e02-03e5-495c-8bb7-913e4580ca1f",
      "webhookId": "7cd1a1ed-57cd-4c9e-8086-d593e1549db3"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "YOUR_URL",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{\n  \"prompt\": {\n    \"3\": {\n      \"inputs\": {\n        \"seed\": 123456789,\n        \"steps\": 20,\n        \"cfg\": 8.0,\n        \"sampler_name\": \"euler\",\n        \"scheduler\": \"normal\",\n        \"denoise\": 1.0,\n        \"model\": [\"10\", 0],\n        \"positive\": [\"6\", 0],\n        \"negative\": [\"7\", 0],\n        \"latent_image\": [\"5\", 0]\n      },\n      \"class_type\": \"KSampler\"\n    },\n    \"4\": {\n      \"inputs\": {\n        \"ckpt_name\": \"v1-5-pruned-emaonly.safetensors\"\n      },\n      \"class_type\": \"CheckpointLoaderSimple\"\n    },\n    \"5\": {\n      \"inputs\": {\n        \"width\": 512,\n        \"height\": 512,\n        \"batch_size\": 120\n      },\n      \"class_type\": \"EmptyLatentImage\"\n    },\n    \"6\": {\n      \"inputs\": {\n        \"text\": \"A person preparing a colorful, healthy meal with vegetables and lean protein on a cutting board, hands moving, chopping vegetables, smooth motion, cooking video, food preparation, cinematic\",\n        \"clip\": [\"4\", 1]\n      },\n      \"class_type\": \"CLIPTextEncode\"\n    },\n    \"7\": {\n      \"inputs\": {\n        \"text\": \"blurry, low quality, distorted, text, watermark, static, still image, no motion, ugly, choppy\",\n        \"clip\": [\"4\", 1]\n      },\n      \"class_type\": \"CLIPTextEncode\"\n    },\n    \"8\": {\n      \"inputs\": {\n        \"samples\": [\"3\", 0],\n        \"vae\": [\"4\", 2]\n      },\n      \"class_type\": \"VAEDecode\"\n    },\n    \"9\": {\n      \"inputs\": {\n        \"frame_rate\": 8,\n        \"loop_count\": 0,\n        \"filename_prefix\": \"diabetes_video\",\n        \"format\": \"video/h264-mp4\",\n        \"pix_fmt\": \"yuv420p\",\n        \"crf\": 19,\n        \"save_metadata\": true,\n        \"pingpong\": false,\n        \"save_output\": true,\n        \"images\": [\"8\", 0]\n      },\n      \"class_type\": \"VHS_VideoCombine\"\n    },\n    \"10\": {\n      \"inputs\": {\n        \"model_name\": \"mm_sd_v15_v2.ckpt\",\n        \"beta_schedule\": \"sqrt_linear (AnimateDiff)\",\n        \"model\": [\"4\", 0],\n        \"context_options\": [\"11\", 0]\n      },\n      \"class_type\": \"ADE_AnimateDiffLoaderGen1\"\n    },\n    \"11\": {\n      \"inputs\": {\n        \"context_length\": 16,\n        \"context_stride\": 1,\n        \"context_overlap\": 4,\n        \"closed_loop\": false\n      },\n      \"class_type\": \"ADE_StandardUniformContextOptions\"\n    }\n  }\n}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "file"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -1456,
        736
      ],
      "id": "b777d56e-839e-4e50-a8c6-6e0eb3e09aee",
      "name": "Vid"
    },
    {
      "parameters": {
        "amount": 20
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        -1280,
        736
      ],
      "id": "04852a24-85fa-41e8-aaf6-e7ce0ecb5cfe",
      "name": "Wait2",
      "webhookId": "a87f17d5-219a-4629-8365-58fc227eb2df"
    },
    {
      "parameters": {
        "url": "YOUR_URL",
        "options": {
          "response": {
            "response": {
              "responseFormat": "file",
              "outputPropertyName": "video"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -1136,
        736
      ],
      "id": "dc0e2f3a-720b-46c3-9a0f-9cf9f9f39d7d",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "chatId": "YOUR_ID",
        "text": "Please provide the changes to make",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -240,
        512
      ],
      "id": "82e72910-9a95-4fbe-90c9-6e5cd95b24e2",
      "name": "after rejection",
      "webhookId": "c9bb4d58-d458-449d-8c35-614d24e221a8"
    },
    {
      "parameters": {
        "jsCode": "const items = [];\n\nfor (const item of $input.all()) {\n  const today = new Date();\n  const dayOfMonth = today.getDate();\n  \n  // Alternate: odd days = image, even days = video\n  const postType = (dayOfMonth % 2 === 1) ? 'image' : 'video';\n  \n  items.push({\n    json: {\n      ...item.json,\n      post_type: postType,\n      post_today: true\n    }\n  });\n}\n\nreturn items;"
      },
      "name": "Determine Post Type",
      "type": "n8n-nodes-base.code",
      "position": [
        -352,
        208
      ],
      "typeVersion": 2,
      "id": "e4df359f-d4d7-4728-8cb5-886ba19c00bc"
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.post_type }}",
              "operation": "equals",
              "value2": "image"
            }
          ]
        }
      },
      "name": "Check Post Type",
      "type": "n8n-nodes-base.if",
      "position": [
        -160,
        208
      ],
      "typeVersion": 1,
      "id": "264b7bce-84d5-46c0-ac35-67472a66480a"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT * FROM approved_content WHERE content_id = '{{ $json.content_id }}' AND media_type = 'image' LIMIT 1",
        "options": {}
      },
      "name": "Get Image from DB",
      "type": "n8n-nodes-base.postgres",
      "position": [
        0,
        0
      ],
      "typeVersion": 2,
      "id": "946d1a64-834a-4380-952f-9b1bf65bdc5d"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT * FROM approved_content WHERE content_id = '{{ $json.content_id }}' AND media_type = 'video' LIMIT 1",
        "options": {}
      },
      "name": "Get Video from DB",
      "type": "n8n-nodes-base.postgres",
      "position": [
        0,
        352
      ],
      "typeVersion": 2,
      "id": "422dad4f-9b06-49f1-933a-187b2c80bd57"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://graph.instagram.com/v12.0/{{ $env.INSTAGRAM_ACCOUNT_ID }}/media",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"image_url\": \"{{ $json.image_url }}\",\n  \"caption\": \"{{ $json.caption }}\",\n  \"access_token\": \"{{ $env.INSTAGRAM_ACCESS_TOKEN }}\"\n}",
        "options": {}
      },
      "name": "Create Instagram Image Post",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        208,
        0
      ],
      "typeVersion": 3,
      "id": "c2388f97-2372-4659-9ec7-1dd7bb28fc60"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://graph.instagram.com/v12.0/{{ $env.INSTAGRAM_ACCOUNT_ID }}/media",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"media_type\": \"VIDEO\",\n  \"video_url\": \"{{ $json.video_url }}\",\n  \"caption\": \"{{ $json.caption }}\",\n  \"access_token\": \"{{ $env.INSTAGRAM_ACCESS_TOKEN }}\"\n}",
        "options": {}
      },
      "name": "Create Instagram Video Post",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        192,
        352
      ],
      "typeVersion": 3,
      "id": "283f02f2-1511-4ee6-8b12-08bc9ecf72b8"
    },
    {
      "parameters": {
        "amount": 30,
        "unit": "seconds"
      },
      "name": "Wait for Processing",
      "type": "n8n-nodes-base.wait",
      "position": [
        448,
        176
      ],
      "typeVersion": 1,
      "id": "6e57480c-f4c1-4905-b619-4c43d8cd6703",
      "webhookId": "adc71959-9809-43e3-a376-2050536c1168"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE approved_content SET status = 'published', published_date = NOW() WHERE content_id = '{{ $json.content_id }}'",
        "options": {}
      },
      "name": "Mark as Published",
      "type": "n8n-nodes-base.postgres",
      "position": [
        848,
        176
      ],
      "typeVersion": 2,
      "id": "deb8cbd7-4e49-43b7-8d68-6599c664b699"
    },
    {
      "parameters": {
        "chatId": "={{ $json.chat_id }}",
        "text": "✅ Content published to Instagram successfully!\n\nType: {{ $json.post_type }}\nDate: {{ $json.post_date }}",
        "additionalFields": {}
      },
      "name": "Send Success Message",
      "type": "n8n-nodes-base.telegram",
      "position": [
        1024,
        176
      ],
      "typeVersion": 1,
      "id": "bd67401a-1f09-4eff-bb7b-78cc2539704e",
      "webhookId": "358a54c7-bb1f-4368-8d5e-a3b4f6785118"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://graph.instagram.com/v12.0/{{ $env.INSTAGRAM_ACCOUNT_ID }}/media_publish",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"creation_id\": \"{{ $json.id }}\",\n  \"access_token\": \"{{ $env.INSTAGRAM_ACCESS_TOKEN }}\"\n}",
        "options": {}
      },
      "name": "Publish to Instagram1",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        656,
        176
      ],
      "typeVersion": 3,
      "id": "80a05d4e-c2a7-4b51-9b8c-7a13a614749f"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "CREATE TABLE IF NOT EXISTS sessions (\n  session_id VARCHAR(255) PRIMARY KEY,\n  user_id VARCHAR(100) NOT NULL,\n  started_at TIMESTAMP NOT NULL DEFAULT NOW(),\n  last_activity TIMESTAMP,\n  message_count INTEGER DEFAULT 1,\n  metadata JSONB,\n  created_at TIMESTAMP DEFAULT NOW()\n);\n\n-- Create index for faster lookups\nCREATE INDEX IF NOT EXISTS idx_sessions_user_id ON sessions(user_id);\nCREATE INDEX IF NOT EXISTS idx_sessions_started_at ON sessions(started_at);",
        "options": {}
      },
      "id": "6d4d23c8-80c3-4201-b8fc-6274d548b808",
      "name": "Initialize/Update Session",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [
        -3888,
        480
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO conversation_memory (\n  session_id,\n  user_id,\n  role,\n  content,\n  metadata,\n  created_at\n)\nVALUES (\n  '{{ $(\"Initialize/Update Session\").first().json.session_id }}',\n  'dimba_system',\n  'user',\n  'Daily diabetes content generation request',\n  '{\"trigger\": \"daily_schedule\", \"timestamp\": \"{{ $now.toISO() }}\"}'::jsonb,\n  NOW()\n)\nRETURNING *;",
        "options": {}
      },
      "id": "65d14d4f-2f4f-41a8-bb6c-15b84352740e",
      "name": "Store User Message (Memory)",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [
        -3312,
        928
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "-- Memory: Retrieve conversation history\nSELECT \n  role,\n  content,\n  created_at,\n  metadata\nFROM conversation_memory\nWHERE session_id = '{{ $json.session_id }}'\n  AND created_at >= NOW() - INTERVAL '24 hours'\nORDER BY created_at ASC\nLIMIT 20;",
        "options": {}
      },
      "id": "84190671-fd03-45f7-ba20-cd02d287e187",
      "name": "Retrieve Conversation History",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [
        -3088,
        816
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "-- RAG: Semantic search for relevant knowledge\nSELECT \n  topic,\n  content,\n  source,\n  metadata\nFROM agent_knowledge\nWHERE \n  (content ILIKE '%' || '{{ $json.user_message }}' || '%'\n   OR topic ILIKE '%' || '{{ $json.user_message }}' || '%')\n  AND status = 'active'\nORDER BY updated_at DESC\nLIMIT 10;",
        "options": {}
      },
      "id": "34fb7312-45ac-4ec1-9ba3-0d8b6b8cc5a8",
      "name": "RAG Knowledge Retrieval",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [
        -3104,
        1056
      ]
    },
    {
      "parameters": {
        "jsCode": "// Planning Loop: Analyze task and create execution plan\nconst userMessage = $input.first().json.user_message;\nconst conversationHistory = $input.all()[1]?.json || [];\nconst knowledge = $input.all()[2]?.json || [];\n\n// Determine task complexity\nfunction analyzeTask(message) {\n  const complexityIndicators = {\n    simple: ['what', 'who', 'when', 'is', 'define'],\n    medium: ['how', 'why', 'explain', 'compare', 'list'],\n    complex: ['create', 'design', 'plan', 'strategy', 'analyze', 'generate', 'prescribe', 'diagnose', 'recommend treatment']\n  };\n  \n  const lowerMessage = message.toLowerCase();\n  \n  if (complexityIndicators.complex.some(word => lowerMessage.includes(word))) {\n    return 'complex';\n  } else if (complexityIndicators.medium.some(word => lowerMessage.includes(word))) {\n    return 'medium';\n  }\n  return 'simple';\n}\n\n// Create execution plan\nfunction createPlan(message, complexity) {\n  const plans = {\n    simple: {\n      steps: ['retrieve_knowledge', 'generate_response'],\n      requiresApproval: false,\n      estimatedTime: 'instant'\n    },\n    medium: {\n      steps: ['retrieve_knowledge', 'analyze_context', 'generate_response', 'validate'],\n      requiresApproval: false,\n      estimatedTime: '5-10 seconds'\n    },\n    complex: {\n      steps: ['retrieve_knowledge', 'analyze_context', 'create_subtasks', 'execute_subtasks', 'synthesize', 'validate', 'request_approval'],\n      requiresApproval: true,\n      estimatedTime: '30+ seconds'\n    }\n  };\n  \n  return plans[complexity];\n}\n\nconst complexity = analyzeTask(userMessage);\nconst plan = createPlan(userMessage, complexity);\n\n// Get original input data\nconst originalData = $input.first().json;\n\nreturn {\n  json: {\n    ...originalData,\n    user_message: userMessage,\n    complexity: complexity,\n    plan: plan,\n    conversation_history: conversationHistory,\n    knowledge_base: knowledge,\n    timestamp: new Date().toISOString(),\n    requires_governance: plan.requiresApproval\n  }\n};"
      },
      "id": "4cb4070c-e6d0-4d15-99ac-81cb95b562de",
      "name": "Planning Loop",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -2848,
        944
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "condition-1",
              "leftValue": "={{ $json.requires_governance }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "6113c41d-557e-45e9-8b0b-cb98145a059c",
      "name": "Check Governance Required",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        -2672,
        944
      ]
    },
    {
      "parameters": {
        "jsCode": "// Governance: Apply content policies and safety checks\nconst data = $input.first().json;\n\n// Define governance rules\nconst governanceRules = {\n  contentPolicies: {\n    noBrandViolations: true,\n    noMedicalClaims: true,\n    noOffensiveContent: true,\n    requireDisclaimer: ['medical', 'advice', 'diagnosis']\n  },\n  safetyChecks: {\n    maxContentLength: 5000,\n    requireCitations: true,\n    blockSensitiveTopics: ['personal health data', 'unapproved treatments']\n  },\n  approvalThresholds: {\n    highRisk: ['prescription', 'prescribe', 'emergency', 'crisis', 'diagnose', 'diagnosis'],\n    mediumRisk: ['treatment', 'symptoms', 'medication', 'medicine'],\n    lowRisk: ['general', 'lifestyle', 'prevention', 'diet']\n  }\n};\n\n// Check for violations\nfunction checkGovernance(message, rules) {\n  const violations = [];\n  const warnings = [];\n  let riskLevel = 'low';\n  \n  const lowerMessage = message.toLowerCase();\n  \n  // Check high risk keywords\n  if (rules.approvalThresholds.highRisk.some(word => lowerMessage.includes(word))) {\n    riskLevel = 'high';\n    warnings.push('High-risk medical content detected');\n  }\n  \n  // Check medium risk keywords\n  if (rules.approvalThresholds.mediumRisk.some(word => lowerMessage.includes(word))) {\n    riskLevel = riskLevel === 'high' ? 'high' : 'medium';\n    warnings.push('Medical content requires disclaimer');\n  }\n  \n  // Check blocked topics\n  if (rules.safetyChecks.blockSensitiveTopics.some(topic => lowerMessage.includes(topic))) {\n    violations.push('Sensitive topic detected - requires human review');\n  }\n  \n  return {\n    passed: violations.length === 0,\n    riskLevel: riskLevel,\n    violations: violations,\n    warnings: warnings,\n    requiresDisclaimer: warnings.length > 0\n  };\n}\n\nconst governanceCheck = checkGovernance(data.user_message, governanceRules);\n\nreturn {\n  json: {\n    ...data,\n    governance: {\n      status: governanceCheck.passed ? 'approved' : 'requires_review',\n      riskLevel: governanceCheck.riskLevel,\n      violations: governanceCheck.violations,\n      warnings: governanceCheck.warnings,\n      requiresDisclaimer: governanceCheck.requiresDisclaimer,\n      checkedAt: new Date().toISOString()\n    },\n    canProceed: governanceCheck.passed\n  }\n};"
      },
      "id": "89f5722c-15e9-44bf-9a0f-4860fb84b42b",
      "name": "Governance & Safety Check",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -2512,
        848
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "condition-2",
              "leftValue": "={{ $json.canProceed }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "0e193e9c-c8ed-49f6-ad57-dd7adfcbaa6e",
      "name": "Governance Approved?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        -2320,
        848
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "-- Store governance decision log\nINSERT INTO governance_logs (\n  session_id,\n  user_message,\n  risk_level,\n  status,\n  violations,\n  warnings,\n  decision_timestamp\n)\nVALUES (\n  '{{ $json.session_id }}',\n  '{{ $json.user_message }}',\n  '{{ $json.governance.riskLevel }}',\n  '{{ $json.governance.status }}',\n  ARRAY[{{ $json.governance.violations.map(v => `'${v}'`).join(',') }}]::text[],\n  ARRAY[{{ $json.governance.warnings.map(w => `'${w}'`).join(',') }}]::text[],\n  NOW()\n)\nRETURNING *;",
        "options": {}
      },
      "id": "388ce233-ba63-4307-a486-3721724e7940",
      "name": "Log Governance Decision",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [
        -2064,
        736
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://your-notification-webhook.com/review-required",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"alert_type\": \"governance_violation\",\n  \"session_id\": \"{{ $json.session_id }}\",\n  \"user_message\": \"{{ $json.user_message }}\",\n  \"violations\": {{ $json.governance.violations }},\n  \"risk_level\": \"{{ $json.governance.riskLevel }}\",\n  \"timestamp\": \"{{ $json.governance.checkedAt }}\"\n}",
        "options": {}
      },
      "id": "7dbdb2b2-74a2-4225-ba31-59bc743e63be",
      "name": "Alert: Review Required",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -2064,
        1056
      ]
    },
    {
      "parameters": {
        "jsCode": "// Context Enrichment: Prepare enriched context for AI\nconst input = $input.first().json;\n\n// Build enriched context\nconst enrichedContext = {\n  current_query: input.user_message,\n  conversation_summary: Array.isArray(input.conversation_history) \n    ? input.conversation_history.slice(-5).map(msg => \n        `${msg.role}: ${msg.content}`\n      ).join('\\n') \n    : 'No previous conversation',\n  relevant_knowledge: Array.isArray(input.knowledge_base) \n    ? input.knowledge_base.map(k => \n        `[${k.topic}] ${k.content}`\n      ).join('\\n\\n') \n    : 'No specific knowledge found',\n  execution_plan: input.plan,\n  governance_status: input.governance || { status: 'not_checked' },\n  system_instructions: `You are a professional diabetes care assistant. \nYour role is to:\n- Provide accurate, evidence-based information\n- Maintain a supportive and empathetic tone\n- Always include appropriate disclaimers for medical content\n- Follow brand guidelines and content policies\n- Act as a knowledgeable employee, not just a chatbot\n\nCurrent task complexity: ${input.complexity}\nGovernance status: ${input.governance?.status || 'not checked'}`\n};\n\nreturn {\n  json: {\n    ...input,\n    enriched_context: enrichedContext,\n    ready_for_ai: true\n  }\n};"
      },
      "id": "d0b9053f-bdd7-4ea7-a81d-2cc1b9bedc2a",
      "name": "Context Enrichment",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1808,
        960
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO conversation_memory (\n  session_id,\n  user_id,\n  role,\n  content,\n  metadata,\n  created_at\n)\nVALUES (\n  '{{ $(\"Initialize/Update Session\").first().json.session_id }}',\n  'dimba_system',\n  'assistant',\n  '{{ $json.caption }}',\n  '{\n    \"content_type\": \"{{ $json.content_type }}\",\n    \"key_message\": \"{{ $json.key_message }}\",\n    \"image_prompt\": \"{{ $json.image_prompt }}\",\n    \"generation_source\": \"{{ $json.generation_source }}\"\n  }'::jsonb,\n  NOW()\n)\nRETURNING *;",
        "options": {}
      },
      "id": "3feff4b6-19f6-4b2c-8de5-e6a92b3a75d2",
      "name": "Store Assistant Response (Memory)",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [
        -2000,
        496
      ]
    }
  ],
  "pinData": {},
  "connections": {
    "Daily Schedule": {
      "main": [
        [
          {
            "node": "Initialize/Update Session",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Past Successful Posts": {
      "main": [
        [
          {
            "node": "Build Learning Context",
            "type": "main",
            "index": 0
          },
          {
            "node": "Planning Loop",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Learning Context": {
      "main": [
        [
          {
            "node": "Prepare Ollama Prompt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Generated Content": {
      "main": [
        [
          {
            "node": "Store Assistant Response (Memory)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Preview Data": {
      "main": [
        [
          {
            "node": "Send a photo message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Store Pending Content in DB": {
      "main": [
        [
          {
            "node": "how's the content ?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check if Approved": {
      "main": [
        [
          {
            "node": "Determine Post Type",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "after rejection",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Ollama Prompt": {
      "main": [
        [
          {
            "node": "ollama",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ComfyUI Queue Prompt": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build ComfyUI JSON": {
      "main": [
        [
          {
            "node": "ComfyUI Queue Prompt",
            "type": "main",
            "index": 0
          },
          {
            "node": "Prepare Video Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "Prepare Preview Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send a photo message": {
      "main": [
        [
          {
            "node": "Store Pending Content in DB",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "user preferences",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Get Past Successful Posts",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "user preferences": {
      "main": [
        [
          {
            "node": "Get Past Successful Posts",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "user pref": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          },
          {
            "node": "Store User Message (Memory)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "how's the content ?": {
      "main": [
        [
          {
            "node": "Check if Approved",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ollama": {
      "main": [
        [
          {
            "node": "Parse Generated Content",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Video Data": {
      "main": [
        [
          {
            "node": "Vid",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Video to Telegram": {
      "main": [
        [
          {
            "node": "Store Pending Content in DB",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Vid": {
      "main": [
        [
          {
            "node": "Wait2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait2": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Send Video to Telegram",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "after rejection": {
      "main": [
        [
          {
            "node": "user preferences",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Determine Post Type": {
      "main": [
        [
          {
            "node": "Check Post Type",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Post Type": {
      "main": [
        [
          {
            "node": "Get Image from DB",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Get Video from DB",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Image from DB": {
      "main": [
        [
          {
            "node": "Create Instagram Image Post",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Video from DB": {
      "main": [
        [
          {
            "node": "Create Instagram Video Post",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Instagram Image Post": {
      "main": [
        [
          {
            "node": "Wait for Processing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Instagram Video Post": {
      "main": [
        [
          {
            "node": "Wait for Processing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait for Processing": {
      "main": [
        [
          {
            "node": "Publish to Instagram1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mark as Published": {
      "main": [
        [
          {
            "node": "Send Success Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Publish to Instagram1": {
      "main": [
        [
          {
            "node": "Mark as Published",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Initialize/Update Session": {
      "main": [
        [
          {
            "node": "user pref",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Store User Message (Memory)": {
      "main": [
        [
          {
            "node": "Retrieve Conversation History",
            "type": "main",
            "index": 0
          },
          {
            "node": "RAG Knowledge Retrieval",
            "type": "main",
            "index": 0
          },
          {
            "node": "Get Past Successful Posts",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Retrieve Conversation History": {
      "main": [
        [
          {
            "node": "Planning Loop",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "RAG Knowledge Retrieval": {
      "main": [
        [
          {
            "node": "Planning Loop",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Planning Loop": {
      "main": [
        [
          {
            "node": "Check Governance Required",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Governance Required": {
      "main": [
        [
          {
            "node": "Governance & Safety Check",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Context Enrichment",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Governance & Safety Check": {
      "main": [
        [
          {
            "node": "Governance Approved?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Governance Approved?": {
      "main": [
        [
          {
            "node": "Log Governance Decision",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Alert: Review Required",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Log Governance Decision": {
      "main": [
        [
          {
            "node": "Context Enrichment",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Context Enrichment": {
      "main": [
        [
          {
            "node": "Build Learning Context",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Store Assistant Response (Memory)": {
      "main": [
        [
          {
            "node": "Build ComfyUI JSON",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "c89c058a-ac81-46b8-abb8-cc18ad659c64",
  "meta": {
    "instanceId": "YOUR_ID"
  },
  "id": "7hCE67HVibyGdMd6",
  "tags": []
}